body {
 background-image: radial-gradient(rgba(202, 169, 60, 0.829), rgba(255, 255, 255, 0.774),#e2a636c4);
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Luxurious Roman', cursive;    
}

html {
  width: 100%;
}
.logo {

  width: 9%;
  height: 70px;
  float: left;
}

header{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.418);
  height: 70px;
  margin: 20px 20px 4px 20px ;
}

.ancho{
  width: 100%;
  height: 70px;
  margin: auto;
  box-sizing: border-box;
}
header ul{
  list-style: none;
  padding: 0;
  width: 80%;
  margin: auto;
}

.img-catalog {

  margin-bottom: 50px;
  text-align: center;
  padding: 10px 10px 20px 20px;
  margin-right: 500px;
  margin-left: 560px;
  margin-top: -792px;
  
  
  
}
.menu li a{
  text-decoration: none;
  color: white;
  padding: 21px;
  display: block;
  font-size: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;    
}
.menu li a{
  transition: all 1s;
}
.menu li a:hover{
  color: rgb(0, 17, 255);
  background-color: white;
}
nav{
  width: 70%;
  height: 70px;
  margin-left: 210px;
  float: left;
}


footer{
  background-color: rgba(202, 109, 2, 0.822);
  border-radius: 10px;
  color: white;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.container-body{
  display: flex;
}

.sobre-nosotros{
 width: 400px;
}

.sobre-nosotros h2{
  font-size: 20px;
}
.sobre-nosotros p{
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

.redes-sociales{
  width: 400px;
}

.redes-sociales h2{
   font-size: 22px;
}

.redes-sociales ul li{
  margin-top: 22px;
  margin-left: 10px;
  list-style: none;
  display: inline-block;
}
.redes-sociales ul li span{
  font-size: 30px;
}

.redes-sociales ul li a{
  text-decoration: none;
  color: white;
  padding: 10px;
  display: inline-block;
  transition: all 1.5s;

}

.redes-sociales ul li a:hover{
  color: blue;
  background-color: white;

}


.logo-footer{
  width: 150px;
  height: 150px;
  display: block;
margin: 10px 50px 10px 65px;
}

.contacto{
  width: 400px;
}

.contacto h2{
  font-size: 20px;
  margin-left: 45px;
}

.contacto ul li{
  font-size: 20px;
  color: white;
  margin-top: 20px;
  margin-right:30px ;
}
.contacto ul li{
  margin-top: 22px;
  margin-left: 10px;
  list-style: none;
}
.container-footer{
  width: 480px;
  padding: 5px 5px 5px 5px;
  border-top: white solid 4px;
  border-right: white solid 4px;
  border-left: white solid 4px;

}

.maps {
 display: flex;
 margin-right: 10px;
}