body {
    background-image: url(../images/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto ;
    max-width: 1200px;
    padding: 0; 
    box-sizing: border-box;
    
}

.img-logo {

    width: 600px;
    display: inline-flex;
    padding-top: 20px 20px 20px 600px;
    margin-right: 433px;
    border-radius: 10px;
    margin-left: 243px;
   
    

    
}


